main {
    width: 40vw;
    height: 40vw;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    perspective: 500px;
}
section  {
    font-size: 0;
    border: solid #616161 0.5vw;
    width: 40vw;
    height: 40vw;
    position: relative;
    transform: rotateX(50deg);
}
div {
    box-sizing: border-box;
    width: 12.5%;
    height: 12.5%;
    display: inline-block;
    font-size: 16px;

}
div:nth-child(even) {
    background: #616161;
}
p {
    width: 10%;
    height: 10%;
    background: #ec2a12;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.75);
}
.black {
    background: #1f1f1f;
}
p:nth-of-type(1)  {
    position: absolute;
    top: 1%;
    left: 13.5%;
}
p:nth-of-type(2)  {
    position: absolute;
    top: 1%;
    left: 38.5%;
}
p:nth-of-type(3)  {
    position: absolute;
    top: 1%;
    left: 64%;
}
p:nth-of-type(4)  {
    position: absolute;
    top: 1%;
    left: 89%;
}
p:nth-of-type(5)  {
    position: absolute;
    top: 13.5%;
    left: 1%;
}
p:nth-of-type(6)  {
    position: absolute;
    top: 13.5%;
    left: 26%;
}
p:nth-of-type(7)  {
    position: absolute;
    top: 13.5%;
    left: 51%;
}
p:nth-of-type(8)  {
    position: absolute;
    top: 13.5%;
    left: 76.5%;
}
p:nth-of-type(9)  {
    position: absolute;
    top: 26%;
    left: 13.5%;
}
p:nth-of-type(10)  {
    position: absolute;
    top: 26%;
    left: 38.5%;
}
p:nth-of-type(11)  {
    position: absolute;
    top: 26%;
    left: 64%;
}
p:nth-of-type(12)  {
    position: absolute;
    top: 26%;
    left: 89%;
}
.black:nth-of-type(13)  {
    position: absolute;
    top: 63.5%;
    left: 1%;
}
.black:nth-of-type(14)  {
    position: absolute;
    top: 63.5%;
    left: 26%;
}
.black:nth-of-type(15)  {
    position: absolute;
    top: 63.5%;
    left: 51%;
}
p.black:nth-of-type(16) {
    position: absolute;
    top: 63.5%;
    left: 76.5%;
}
p.black:nth-of-type(17)  {
    position: absolute;
    top: 76.5%;
    left: 13.5%;
}
p.black:nth-of-type(18)  {
    position: absolute;
    top: 76.5%;
    left: 38.5%;
}
p.black:nth-of-type(19)  {
    position: absolute;
    top: 76.5%;
    left: 64%;
}
p.black:nth-of-type(20)  {
    position: absolute;
    top: 76.5%;
    left: 89%;
}
p.black:nth-of-type(21)  {
    position: absolute;
    top: 89%;
    left: 1%;
}
p.black:nth-of-type(22)  {
    position: absolute;
    top: 89%;
    left: 26%;
}
p.black:nth-of-type(23)  {
    position: absolute;
    top: 89%;
    left: 51%;
}
p.black:nth-of-type(24) {
    position: absolute;
    top: 89%;
    left: 76.5%;
}


